# Build results
bin/
obj/
out/
[Bb]uild/
[Ll]og/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.userprefs

# Rider / JetBrains
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Logs
*.log

# OS junk
[Tt]humbs.db
[Dd]esktop.ini
*.DS_Store

# Other
*.swp
*.tmp
